<ul class='todo-list' id='task-list'></ul>
<ul class='todo-list' id='filters'>
    <li id='check-done'>
        <a class='toggle' id='toggle-all'></a>
        <button class='filter previous' data-status='*'>All Tasks</button>
        <button class='filter' data-status='{{Status.Active}}'>Active Tasks</button>
        <button class='filter' data-status='{{Status.Completed}}'>Completed Tasks</button>
        <button id='clear-completed'>Clear Completed</button>
        <span id='active-count'><strong></strong> items left</span>
    </li>
</ul>

