<input id='toggle-all' type='checkbox'>
<ul id='task-list'></ul>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul id='filters'>
        <li>
            <a class='filter' data-status='*'>All Tasks</a>
        </li>
        <li>
            <a class='filter' data-status='{{Status.Active}}'>Active Tasks</a>
        </li>
        <li>
            <a class='filter' data-status='{{Status.Completed}}'>Completed Tasks</a>
        </li>
    </ul>
    <button class='pure-button primary-button' id='clear-completed'>Clear Completed</button>
    <span id='active-count'><strong>{{numActive}}</strong> items left</span>
</div>
